########################################################################################################################################################
###
### Copyright (C) 2019 by Company Inc.
###
### This file is part of the C++ Project project.
###
########################################################################################################################################################

### @file                       CppProject/.gitignore
### @author                     Bob Marley <bob@marley.com>
### @date                       15 May 2019

########################################################################################################################################################

# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/

########################################################################################################################################################